# pycache
**/__pycache__/

# papers
**/*.pdf
!studies/FCI_estimator/FCI_estimator-Presentation.pdf

# datasets for FCI estimator
studies/FCI_estimator/datasets/*
!studies/FCI_estimator/datasets/sample_dataset.npy

# results of FCI estimator (and plots)
studies/FCI_estimator/results/**/*.json
!studies/FCI_estimator/results/sample_results.json
studies/FCI_estimator/results/**/*.png
